# 백준  2023.03.19

### 10699 오늘날짜

In [11]:
import datetime as dt
time=dt.datetime.now()
print(f"{time.year}-0{time.month}-{time.day}")

2023-03-19

In [12]:
from datetime import datetime
today = str(datetime.today())
print(today[:10])

2023-03-19

### 7287 등록

In [13]:
print(f"2")
print(f"johnny_jannie")

2
johnny_jannie

### 10171 고양이

In [19]:
print(f"\\    /\\")
print(f" )  ( ')")
print(f"(  /  )")
print(f" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

### 10172 개

In [32]:
print(f"|\\_/|")
print(f"|q p|   /}}")
print(f"( 0 )\"\"\"\\")
print(f"|\"^\"`    |")
print(f"||_/=\\\\__|")
# 단독 \ : \\
# 단독 " : \"
# 단독 } : }}

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

### 25083 새싹

In [35]:
print(f"         ,r'\"7")
print(f"r`-_   ,'  ,/")
print(f" \\. \". L_r'")
print(f"   `~\\/")
print(f"      |")
print(f"      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

### 1000 A+B

In [45]:
a=int(input())
b=int(input())
print(a+b)
#이거 왜 안됨? 런타임에러 ValueError이 뜸

1
2
3

In [49]:
a,b = map(int, input().split())
print(a+b)

1 2
3

### 1001 A-B

In [50]:
a,b = map(int, input().split())
print(a-b)

3 2
1

### 10998 A*B

In [51]:
a,b = map(int, input().split())
print(a*b)

1  2
2

### 10869 사칙연산

In [54]:
a,b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(int(a/b))
print(a%b)

7 3
10
4
21
2
1

### 1008 A/B

In [56]:
a,b = map(int, input().split())
print(a/b)

1 3
0.3333333333333333

### 11382 꼬마정민

In [57]:
a,b,c = map(int,input().split())
print(a+b+c)

77 77 7777
7931

### 1330 두수 비교하기

In [59]:
a,b = map(int, input().split())
if a > b :
    print(">")
elif a < b :
    print("<")
else : 
    print("==")

5 5
==

### 9498 시험 성적

In [61]:
a = int(input())
if 90<=a<=100:
    print("A")
elif 80<=a<=89:
    print("B")
elif 70<=a<=79:
    print("C")
elif 60<=a<=69:
    print("D")
else:
    print("F")

60
D

### 14681 사분면 고르기

In [67]:
a= int(input())
b= int(input())
if a>0 and b>0 :
    print("1")
elif a<0 and b>0:
    print("2")
elif a<0 and b<0:
    print("3")
elif a>0 and b<0:
    print("4")
else:
    pass

#a,b = map(int, input().split()) 이건 음수에는 못 쓰는 건가요? 
#runtime error (ValueError가 뜨던데) 왜 어쩔땐 되고 어쩔 땐 안됨?

12
-5
4

### 2753 윤년

In [73]:
a = int(input())
if (a%4==0 and a%100!=0) or a%400==0:
    print("1")
else :
    print("0")

2000
1

### 2420 사파리월드

In [80]:
N, M = map(int, input().split())
if N>M :
    print(N-M)
else : 
    print(M-N)

-2 5
7